.about {
	@include flexColumnJustify(center);
	background: $purpleVeryDark;
	border-radius: 40px;
	height: 95vh;

	.title {
		button {
			font-size: 3.5rem;
			color: $greenDark;
			background-color: transparent;
		}
	}
	header {
		@include flexRowAlign(center);
		justify-content: center;

		height: 100%;
		margin: 0.5rem auto;
		padding: 1.5rem 2rem;
		min-width: 25rem;
		width: 95%;
		flex-wrap: wrap;

		.img-wrapper {
			@include flexCenter();
			flex: 1 1 27rem;
			max-width: 28rem;
			margin: 2rem;
			border-radius: 10px;

			.portrait {
				margin: auto;
				width: 100%;
				border-radius: 10px;
				border: 8px solid $purpleVeryDark;
				outline: 3px solid $greenDark;
				filter: drop-shadow(1.2rem 1.6rem 0px $purplePrimary);
			}
		}

		.about-text {
			@include flexColumnAlign(center);
			justify-content: space-between;
			width: 60%;
			min-width: 27rem;
			padding: 0.5rem;
			flex: 1 1 20rem;
			text-align: center;
			h1 {
				text-align: center;
				font-size: 2rem;
				margin: 2rem;
			}
			p {
				margin: 0.5rem;
				text-indent: 3rem;
				font-size: 1.8rem !important;
				font-weight: 200;

				strong {
					font-weight: 500;
				}
			}
			button {
				@include flexCenter();
				border: none;
				background-color: transparent;
				width: 5rem;
				height: 2.5rem;
				color: rgba(255, 255, 255, 0.171);
				font-size: 6rem;
				margin: 1rem;
				cursor: pointer;

				transition: all 200ms;

				&:hover {
					color: rgba(255, 255, 255, 0.26);
					font-size: 6.5rem;
				}
			}
		}
	}
}

@-webkit-keyframes float {
	0% {
		top: 0px;
	}

	50% {
		top: 5px;
	}

	100% {
		top: 0px;
	}
}
@-moz-keyframes float {
	0% {
		top: 0px;
	}

	50% {
		top: 5px;
	}

	100% {
		top: 0px;
	}
}
@keyframes float {
	0% {
		top: 0px;
	}

	50% {
		top: 5px;
	}

	100% {
		top: 0px;
	}
}
