.contact {
	@include flexColumnJustify(space-between);
	background: $purpleVeryDark;
	border-radius: 40px;
	min-height: 65vh;
	.title {
		button {
			margin: 0 2.5rem !important;
			width: 3.1rem;
			height: 3.1rem;
			font-size: 2.1rem;
			color: $purpleVeryDark;
			background-color: $greenDark;
			border-radius: 50%;

			&:hover {
				filter: none !important;
				background-color: $greenLight;
			}
		}
	}
	header {
		@include flexCenter();
		height: 100%;
		flex-wrap: wrap;

		.left-side {
			flex: 0 1 23.5rem;
			border-right: 2px solid $aquaDark;
			padding: 1rem 2rem;
			.picture-and-social-container {
				@include flexRowAlign(center);
				width: 100%;

				img {
					width: 75%;
					max-width: 14rem;
					border-radius: 50%;
				}

				.contact-button-container {
					@include flexColumnAlign(flex-end);
					justify-content: space-between;
					width: 100%;
					height: 100%;

					.social-button {
						@include flexCenter();
						background-color: $aquaDark;
						font-size: 2rem;
						cursor: pointer;
						color: $purpleVeryDark;
						width: 45px;
						height: 45px;
						outline: none;
						border: none;
						border-radius: 50%;
						margin: 1rem 0.3rem;

						transition: all 100ms;

						&:hover {
							transform: scale(1.15);
							background-color: #6bbeda;
						}
					}
					.github-button {
						background-color: transparent;
						color: $aquaDark;
						width: 45px;
						font-size: 2.8rem;

						&:hover {
							transform: scale(1.1);
							background-color: transparent;
							color: #6bbeda;
						}
					}
				}
			}

			h2 {
				width: 19.4rem;
				padding: 0.5rem 1.2rem;
				margin: 1.5rem 0;
				font-size: 4rem;
				font-weight: 500;
				letter-spacing: 3px;
				border: 2px solid $aquaDark;
				border-radius: 6px;
			}
			h5 {
				position: absolute;
				font-size: 1.3rem;
				font-family: $accentText2;
				font-weight: 100;
				letter-spacing: -0.5px;
				text-transform: uppercase;
				transform: translate(9.8rem, -2.2rem);
				background-color: $purpleVeryDark;
				padding: 0 0.3rem;
			}
		}

		.right-side {
			flex: 1 1 25rem;
			@include flexColumnJustify(center);
			max-width: 25rem;
			width: 25rem;

			padding: 0 2rem;
		}
	}
	.form-container {
		@include flexColumnAlign(center);
		width: 60%;
		margin: auto;

		div {
			@include flexRowAlign(center);
			width: 100%;
			.field {
				@include flexColumnJustify(space-between);
				align-items: unset;
				width: 50%;
				.label {
					width: 100%;
				}
				input {
					width: 100%;
					margin: 0.5rem;
					height: 1.5rem;
					font-family: $primaryText;
					text-indent: 0.2rem;
					border-radius: 3px;
					border: none;
					&:focus {
						outline: 2px solid $purplePrimary;
					}
				}
			}
		}
		.subject {
			.field {
				width: 100%;
			}
		}
		.body-field {
			@include flexColumnJustify(center);

			textarea {
				margin: 0.5rem;
				width: 100%;
				height: 10rem;
				font-family: $primaryText;
				padding: 0.2rem 0.3rem;
				border-radius: 3px;
				border: none;
				&:focus {
					outline: 2px solid $purplePrimary;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.contact {
		.title {
			&::after {
				width: 13rem !important;
				transform: translate(-0.2rem, 900%) !important;
			}
		}
		header {
			h2 {
				font-size: 7rem;
			}
		}
	}
}
