.home {
	@include flexCenter(column);
	position: relative;
	height: 40rem;
	min-height: 79vh;
	margin-top: 5rem;
	background-image: url('../images/bg.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50%;

	header {
		@include flexCenter(column);
		filter: drop-shadow(0px 0px 100px rgba(255, 255, 255, 0.178));
		width: 90%;
		white-space: nowrap;

		h1 {
			font-size: 10rem;
			color: $offWhite;
			opacity: 0.95;
			margin: 0;
			filter: drop-shadow(-4px 4px 0px $greenDark);
			font-family: $accentText2;
			text-transform: uppercase;
			letter-spacing: -2px;
			margin: 0 0 0.8rem 0;
		}

		h4 {
			font-size: 1.7rem;
			font-weight: 100;
			letter-spacing: 0.4rem;

			span {
				margin: 0 1.5rem;
			}
		}

		code {
			@include flexCenter(row);
			font-family: 'Inconsolata';
			font-weight: 200;
			padding: 0.2rem 0.5rem;
			font-size: 2.5rem;

			&::after {
				position: relative;
				content: '';
				width: 1rem;
				margin-left: 0.2rem;
				margin-right: -2rem;
				margin-top: 0.2rem;
				height: 85%;
				background-color: $greenDark;
				animation-name: blink;
				animation-duration: 1s;
				animation-iteration-count: infinite;
				animation-fill-mode: backwards;
			}
		}
	}

	.home-menu {
		@include flexCenter(row);
		margin: 5rem 0 2rem;
		padding: 1.5rem 1rem;

		div {
			.home-button {
				width: 8rem;
				height: 3.5rem;
				margin: 0 2rem;
				background-color: $purpleDark;
				color: $greenLight;
				border: 3px solid $greenLight;
				border-radius: 8px;
				letter-spacing: 0.1rem;
				font-family: 'Roboto';
				font-size: 1.1rem;
				cursor: pointer;
				transition: background 200ms, color 200ms;

				&:hover {
					background: $greenLight;
					color: $purpleDark;
				}
			}
		}
	}
}

@media screen and (max-width: 1052px) {
	.home {
		header {
			h1 {
				font-size: 6.5rem;
			}
		}
	}
}

@media screen and (max-width: 920px) {
	.home {
		header {
			code {
				font-size: 1.8rem;
			}

			h1 {
				font-size: 5.5rem;
			}

			h4 {
				font-size: 1.5rem;
				letter-spacing: 0.2rem;

				span {
					margin: 0 0.7rem;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.home {
		background-size: cover;

		header {
			z-index: 1;

			code {
				font-size: 5.5vw;

				&::after {
					margin-right: -1rem;
					width: 0.5rem;
				}
			}

			h1 {
				font-size: 17vw;
				filter: drop-shadow(-2px 2px 0px $greenDark);
			}

			h4 {
				font-size: 4vw;
				letter-spacing: 2px;
			}
		}
	}
}

@keyframes blink {
	0% {
		background-color: transparent;
	}
	15% {
		background-color: $greenDark;
	}
	60% {
		background-color: $greenDark;
	}
	75% {
		background-color: transparent;
	}
	100% {
		background-color: transparent;
	}
}
