nav {
	@include flexJustifyAlign(space-between, center);
	@include layoutPadding(1350px);

	width: 100vw;
	height: 5.5rem;
	backdrop-filter: blur(5px);
	position: fixed;
	z-index: 5;

	&::before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100vw;
		height: 5.5rem;
		opacity: 0.8;
		background-color: $purpleVeryDark;
	}
	.logo {
		cursor: pointer;
		z-index: 1;
		transition: all 250ms;

		h2 {
			border: 2px solid $greenDark;
			border-radius: 3px;
			border-bottom: none;
			font-size: 3.8rem;
			font-weight: 100;
			letter-spacing: 5px;
			padding: 0 0.8rem 0.2rem 1rem;

			transition: all 250ms;
		}
		h3 {
			transform: translateX(9.7rem);
			position: absolute;
			font-family: $primaryText;
			font-size: 0.9rem;
			margin-top: -0.6rem;
			letter-spacing: 0.5px;

			&::before {
				position: absolute;
				left: -154px;
				top: 8px;
				content: '';
				width: 150px;
				height: 2px;
				background-color: $greenDark;
				transition: all 250ms;
			}
			&::after {
				position: absolute;
				right: -17px;
				top: 8px;
				content: '';
				width: 13px;
				height: 2px;
				background-color: $greenDark;
				transition: all 250ms;
			}
		}
		&:hover {
			filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.24));
			h2 {
				border: 2px solid $greenLight;
				border-bottom: none;

				color: white;
			}
			h3 {
				&::before {
					background-color: $greenLight;
				}
				&::after {
					background-color: $greenLight;
				}
			}
		}
	}

	.resume-button {
		margin-left: auto;
		margin-right: 72px;
		z-index: 5;
		cursor: pointer;
		font-size: 1rem;
		letter-spacing: 2px;
		color: $greenDark;
		border: none;
		border-radius: 6px;
		background-color: rgba(255, 255, 255, 0.055);

		padding: 0.8rem 1rem;
		// text-decoration: underline;
		// text-underline-offset: 3px;
		transition: all 200ms;

		&:hover {
			background-color: rgba(255, 255, 255, 0.144);
		}
	}

	header {
		text-align: center;
		margin-bottom: 1rem;
	}

	.nav-button {
		@include flexRowAlign(center);
		cursor: pointer;
		margin: 0.7rem;

		svg {
			font-size: 1.5rem;
			color: $aquaDark;
		}

		h6 {
			font-size: 1.3rem;
			text-decoration: underline;
			margin-left: 1rem;
			letter-spacing: 1px;
		}
	}
	/* Position and sizing of burger button */
	.bm-burger-button {
		position: relative;
		width: 36px;
		height: 30px;
		right: 44px;
	}

	/* Color/shape of burger icon bars */
	.bm-burger-bars {
		background: $greenDark;
		transition: all 100ms;
	}

	/* Color/shape of burger icon bars on hover*/
	.bm-burger-bars-hover {
		background: $greenLight;
	}

	/* Position and sizing of clickable cross button */
	.bm-cross-button {
		height: 24px;
		width: 24px;
		margin-right: 16px;
	}

	/* Color/shape of close button cross */
	.bm-cross {
		background: #bdc3c7;
	}

	/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
	.bm-menu-wrap {
		position: fixed;
		height: 100vh !important;
		top: 0;
	}

	/* General sidebar styles */
	.bm-menu {
		background: $purpleVeryDark;
		font-size: 1.15em;
		height: 100vh !important;
	}

	/* Wrapper for item list */
	.bm-item-list {
		color: #ffffff;
		padding: 0.8em;

		a {
			text-decoration: none;
		}
	}

	/* Individual item */
	.bm-item {
		display: inline-block;
	}

	/* Styling of overlay */
	.bm-overlay {
		background: rgba(0, 0, 0, 0.3);
		opacity: 0 !important;
	}
}
