.portfolio {
	justify-content: flex-start;
	min-height: 97vh;

	.title {
		button {
			margin: 0 2.5rem !important;
			width: 3.1rem;
			height: 3.1rem;
			font-size: 1.8rem;
			color: $purpleDark;
			background-color: $greenDark;
			border-radius: 50%;

			&:hover {
				filter: none !important;
				background-color: $greenLight;
			}
		}
	}
	.carousel-button {
		@include flexCenter();
		user-select: none !important;
		cursor: pointer;
		width: 2.2rem;
		height: 4rem;
		border: none;
		margin: 1rem;
		border-radius: 0.4rem;
		color: $purpleDark;
		background-color: rgba(255, 255, 255, 0.171);
		font-size: 2.7rem;
		margin: 1rem;

		transition: all 200ms;

		&:hover {
			background-color: rgba(255, 255, 255, 0.26);
			transform: scale(1.1);
		}
	}
	.left-btn {
		svg {
			transform: translateX(-0.2rem);
		}
	}
	.right-btn {
		svg {
			transform: translateX(0.2rem);
		}
	}
	.portfolio-body {
		@include flexColumnAlign(center);
		width: 65%;
		min-width: 23rem;
		text-align: center;
		margin: auto;
		h1 {
			font-size: 3.5rem;
			margin: 0.5rem 0 1rem;
			filter: drop-shadow(4px 4px 0px $greenDark);
		}
		p {
			font-size: 1.4rem;
			text-align: left;
			text-indent: 2rem;
		}
		.button-container {
			@include flexRowAlign(center);
			margin: 0.8rem auto;

			button {
				height: 2.2rem;
				width: 6rem;
				border: none;
				border-radius: 3px;
				cursor: pointer;
				background-color: transparent;
				color: $greenDark;
				font-weight: 500;
				letter-spacing: 0.6px;

				transition: all 150ms;
				&:hover {
					background-color: rgba(255, 255, 255, 0.068);
				}
			}
			.divider {
				width: 2.5px;
				border-radius: 2px;
				height: 2rem;
				background-color: $offWhite;
				margin: 0 0.8rem;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.portfolio {
		.title {
			&::after {
				width: 10.2rem !important;
				transform: translate(-0.2rem, 700%) !important;
			}
		}
		.portfolio-body {
			p {
				padding: 0 2rem;
			}
		}
	}
}
@media screen and (max-width: 668px) {
	.carousel-button {
		position: absolute;
		background-color: rgb(221, 216, 216) !important;
		&:hover {
			background-color: rgb(255, 255, 255);
			transform: scale(1.1);
		}
		svg {
			color: black;
		}
	}
	.left-btn {
		left: 0.5rem;
		z-index: 5;
	}
	.right-btn {
		right: 0.5rem;
		z-index: 5;
	}
}
