// Fonts

$accentText: 'Qualy';
$accentText2: 'Alumni Sans Pinstripe';
$primaryText: 'Roboto';
$codeText: 'Inconsolata';

// Color pallette

$offWhite: #f5f2f5;
$purpleAccent: #8b03cd;
$purplePrimary: #5f37ce;
$purpleDark: #33177a;
$purpleVeryDark: #21114b;
$blueLight: #a2aaf7;
$blueDark: #4d37ce;
$aquaLight: #10c3cf;
$aquaDark: #11a2d2;
$greenLight: #5dffd9;
$greenDark: #41d4b7;
