// Fonts

$accentText: 'Qualy';
$primaryText: 'Roboto';

// Color pallette

$offWhite: #f5f2f5;
$purpleAccent: #8b03cd;
$purplePrimary: #5f37ce;
$purpleDark: #412291;
$blueLight: #384ddb;
$blueDark: #4d37ce;
$aquaLight: #10c3cf;
$aquaDark: #11a2d2;
$greenLight: #5dffd9;
$greenDark: #41d4b7;
