@import './fonts';
@import './variables';
@import './mixins';
@import './navbar';
@import './home';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1;
}
html {
	height: 100%;
}
ol,
ul {
	list-style: none;
}
h1 {
	font-weight: bold;
	font-size: 3.5rem;
}
h2,
h3,
h4 {
	font-weight: normal;
}
h1,
h2,
h3 {
	font-family: $accentText;
}
h4,
h5,
h6 {
	font-family: $primaryText;
	font-weight: 700;
}
p {
	font-size: 1rem;
}
body {
	font-family: $primaryText;
	font-weight: 300;
	overflow-x: hidden;
	background: $purpleDark;
	color: $offWhite;
}
main {
	@include layoutPadding(1350px);
}
footer {
	width: 100vw;
	height: 50px;
}
