@font-face {
  font-family: "Qualy";
  src: local("Qualy"), url("./fonts/Qualy/Qualy.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Qualy";
  src: local("Qualy"), url("./fonts/Qualy/Qualy-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Inconsolata";
  src: local("Inconsolata"), url("./fonts/Inconsolata/Inconsolata-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Inconsolata";
  src: local("Inconsolata"), url("./fonts/Inconsolata/Inconsolata-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inconsolata";
  src: local("Inconsolata"), url("./fonts/Inconsolata/Inconsolata-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inconsolata";
  src: local("Inconsolata"), url("./fonts/Inconsolata/Inconsolata-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inconsolata";
  src: local("Inconsolata"), url("./fonts/Inconsolata/Inconsolata-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem calc((100vw - 1350px) / 2);
  width: 100vw;
  height: 5.5rem;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: fixed;
  z-index: 5;
  /* Position and sizing of burger button */
  /* Color/shape of burger icon bars */
  /* Color/shape of burger icon bars on hover*/
  /* Position and sizing of clickable cross button */
  /* Color/shape of close button cross */
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  /* General sidebar styles */
  /* Wrapper for item list */
  /* Individual item */
  /* Styling of overlay */
}
nav::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100vw;
  height: 5.5rem;
  opacity: 0.8;
  background-color: #21114b;
}
nav .logo {
  cursor: pointer;
  z-index: 1;
  transition: all 250ms;
}
nav .logo h2 {
  border: 2px solid #41d4b7;
  border-radius: 3px;
  border-bottom: none;
  font-size: 3.8rem;
  font-weight: 100;
  letter-spacing: 5px;
  padding: 0 0.8rem 0.2rem 1rem;
  transition: all 250ms;
}
nav .logo h3 {
  transform: translateX(9.7rem);
  position: absolute;
  font-family: "Roboto";
  font-size: 0.9rem;
  margin-top: -0.6rem;
  letter-spacing: 0.5px;
}
nav .logo h3::before {
  position: absolute;
  left: -154px;
  top: 8px;
  content: "";
  width: 150px;
  height: 2px;
  background-color: #41d4b7;
  transition: all 250ms;
}
nav .logo h3::after {
  position: absolute;
  right: -17px;
  top: 8px;
  content: "";
  width: 13px;
  height: 2px;
  background-color: #41d4b7;
  transition: all 250ms;
}
nav .logo:hover {
  filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.24));
}
nav .logo:hover h2 {
  border: 2px solid #5dffd9;
  border-bottom: none;
  color: white;
}
nav .logo:hover h3::before {
  background-color: #5dffd9;
}
nav .logo:hover h3::after {
  background-color: #5dffd9;
}
nav .resume-button {
  margin-left: auto;
  margin-right: 72px;
  z-index: 5;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 2px;
  color: #41d4b7;
  border: none;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.055);
  padding: 0.8rem 1rem;
  transition: all 200ms;
}
nav .resume-button:hover {
  background-color: rgba(255, 255, 255, 0.144);
}
nav header {
  text-align: center;
  margin-bottom: 1rem;
}
nav .nav-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  height: 3.5rem;
  padding-left: 1rem;
  transition: all 200ms;
}
nav .nav-button svg {
  font-size: 2rem;
  color: #10c3cf;
}
nav .nav-button h6 {
  font-family: "Alumni Sans Pinstripe";
  border-bottom: 2px solid #f5f2f5;
  font-size: 2rem;
  margin-left: 1rem;
  letter-spacing: 1px;
}
nav .nav-button:hover {
  background-color: rgba(189, 195, 199, 0.0470588235);
}
nav .bm-burger-button {
  position: relative;
  width: 36px;
  height: 30px;
  right: 44px;
}
nav .bm-burger-bars {
  background: #41d4b7;
  transition: all 100ms;
}
nav .bm-burger-bars-hover {
  background: #5dffd9;
}
nav .bm-cross-button {
  height: 24px;
  width: 24px;
  margin-right: 16px;
}
nav .bm-cross {
  background: #bdc3c7;
}
nav .bm-menu-wrap {
  position: fixed;
  height: 100vh !important;
  top: 0;
}
nav .bm-menu {
  background: #21114b;
  font-size: 1.15em;
  height: 100vh !important;
}
nav .bm-item-list {
  color: #ffffff;
  padding: 0.8em 0;
}
nav .bm-item-list a {
  text-decoration: none;
}
nav .bm-item {
  display: inline-block;
}
nav .bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  opacity: 0 !important;
}

@media screen and (max-width: 768px) {
  .logo {
    transform: scale(0.8);
    margin-left: 0.5rem;
  }
  .logo h2 {
    border-radius: 5px !important;
  }
  .logo h3 {
    transform: translateX(3.7rem) !important;
  }
  .logo h3::before {
    left: -56px !important;
    top: 8px !important;
    width: 53px !important;
  }
  .logo h3::after {
    right: -7px !important;
    width: 5px !important;
    top: 8px !important;
  }
  .bm-burger-button {
    right: 42px !important;
  }
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 40rem;
  min-height: 79vh;
  margin-top: 5rem;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}
.home header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  filter: drop-shadow(0px 0px 100px rgba(255, 255, 255, 0.178));
  width: 90%;
  white-space: nowrap;
}
.home header h1 {
  font-size: 10rem;
  color: #f5f2f5;
  opacity: 0.95;
  margin: 0;
  filter: drop-shadow(-4px 4px 0px #41d4b7);
  font-family: "Alumni Sans Pinstripe" !important;
  text-transform: uppercase;
  letter-spacing: -2px;
  margin: 0 0 0.8rem 0;
}
.home header h4 {
  font-size: 1.7rem;
  font-weight: 100 !important;
  letter-spacing: 0.4rem;
  font-family: "Roboto" !important;
}
.home header h4 span {
  margin: 0 1.5rem;
}
.home header code {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: "Inconsolata" !important;
  font-weight: 200;
  padding: 0.2rem 0.5rem;
  font-size: 2.5rem;
}
.home header code::after {
  position: relative;
  content: "";
  width: 1rem;
  margin-left: 0.2rem;
  margin-right: -2rem;
  margin-top: 0.2rem;
  height: 85%;
  background-color: #41d4b7;
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
}
.home .home-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 5rem 0 2rem;
  padding: 1.5rem 1rem;
}
.home .home-menu div .home-button {
  width: 8rem;
  height: 3.5rem;
  margin: 0 2rem;
  background-color: #33177a;
  color: #5dffd9;
  border: 3px solid #5dffd9;
  border-radius: 8px;
  letter-spacing: 0.1rem;
  font-family: "Roboto";
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 200ms, color 200ms;
}
.home .home-menu div .home-button:hover {
  background: #5dffd9;
  color: #33177a;
}

@media screen and (max-width: 1052px) {
  .home header h1 {
    font-size: 6.5rem;
  }
}
@media screen and (max-width: 920px) {
  .home header code {
    font-size: 1.8rem;
  }
  .home header h1 {
    font-size: 5.5rem;
  }
  .home header h4 {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
  }
  .home header h4 span {
    margin: 0 0.7rem;
  }
}
@media screen and (max-width: 768px) {
  .home {
    background-size: cover;
  }
  .home header {
    z-index: 50;
  }
  .home header code {
    font-size: 5.5vw;
  }
  .home header code::after {
    margin-right: -1rem;
    width: 0.5rem;
  }
  .home header h1 {
    font-size: 17vw;
    filter: drop-shadow(-2px 2px 0px #41d4b7);
  }
  .home header h4 {
    font-size: 4vw;
    letter-spacing: 2px;
  }
}
@keyframes blink {
  0% {
    background-color: transparent;
  }
  15% {
    background-color: #41d4b7;
  }
  60% {
    background-color: #41d4b7;
  }
  75% {
    background-color: transparent;
  }
  100% {
    background-color: transparent;
  }
}
.about {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background: #21114b;
  border-radius: 40px;
  min-height: 85vh !important;
  padding: 2.5rem 1.5rem;
}
.about .title {
  display: flex;
  align-self: flex-start;
}
.about .title button {
  font-size: 3.5rem;
  color: #41d4b7;
  background-color: transparent;
}
.about header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin: auto;
  width: 95%;
  flex-wrap: wrap;
}
.about header .img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex: 1 1 27rem;
  max-width: 28rem;
  margin: 2rem;
  border-radius: 10px;
}
.about header .img-wrapper .portrait {
  margin: auto;
  width: 100%;
  border-radius: 10px;
  border: 8px solid #21114b;
  outline: 3px solid #41d4b7;
  filter: drop-shadow(1.2rem 1.6rem 0px #5f37ce);
}
.about header .about-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 60%;
  max-width: 40rem;
  padding: 0.5rem;
  flex: 1 1 20rem;
  text-align: center;
}
.about header .about-text h1 {
  text-align: center;
  font-size: 2rem;
  margin: 2rem;
}
.about header .about-text p {
  margin: 0.5rem;
  text-indent: 3rem;
  font-size: 1.8rem !important;
  font-weight: 200;
}
.about header .about-text p strong {
  font-weight: 500;
}
.about header .about-text button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: none;
  background-color: transparent;
  width: 5rem;
  height: 2.5rem;
  color: rgba(255, 255, 255, 0.171);
  font-size: 6rem;
  margin: 1rem;
  cursor: pointer;
  transition: all 200ms, transform 400ms;
}
.about header .about-text button:hover {
  color: rgba(255, 255, 255, 0.26);
  font-size: 6.5rem;
}
.about header .about-text .about-body {
  max-height: 670px;
  transition: height 300ms ease-in-out;
}
.about header .about-text .about-body .p-section {
  opacity: 0;
  transition: all 500ms;
}

@media screen and (max-width: 768px) {
  .about {
    border-radius: 0;
  }
  .about .title::after {
    width: 14.5rem !important;
    transform: translate(-0.2rem, 700%) !important;
  }
  .about .about-text button {
    margin-top: -165px !important;
  }
  .about .about-text .p-section {
    padding: 0 1rem;
    font-size: 1.5rem !important;
  }
}
.portfolio {
  justify-content: flex-start;
  min-height: 97vh;
}
.portfolio .title button {
  margin: 0 2.5rem !important;
  width: 3.1rem;
  height: 3.1rem;
  font-size: 1.8rem;
  color: #33177a;
  background-color: #41d4b7;
  border-radius: 50%;
}
.portfolio .title button:hover {
  filter: none !important;
  background-color: #5dffd9;
}
.portfolio .carousel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
          user-select: none !important;
  cursor: pointer;
  width: 2.2rem;
  height: 4rem;
  border: none;
  margin: 1rem;
  border-radius: 0.4rem;
  color: #33177a;
  background-color: rgba(255, 255, 255, 0.171);
  font-size: 2.7rem;
  margin: 1rem;
  transition: all 200ms;
}
.portfolio .carousel-button:hover {
  background-color: rgba(255, 255, 255, 0.26);
  transform: scale(1.1);
}
.portfolio .left-btn svg {
  transform: translateX(-0.2rem);
}
.portfolio .right-btn svg {
  transform: translateX(0.2rem);
}
.portfolio .portfolio-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 65%;
  min-width: 23rem;
  text-align: center;
  margin: auto;
}
.portfolio .portfolio-body h1 {
  font-size: 3.5rem;
  margin: 0.5rem 0 1rem;
  filter: drop-shadow(4px 4px 0px #41d4b7);
}
.portfolio .portfolio-body p {
  font-size: 1.4rem;
  text-align: left;
  text-indent: 2rem;
}
.portfolio .portfolio-body .button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.8rem auto;
}
.portfolio .portfolio-body .button-container button {
  height: 2.2rem;
  width: 6rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: transparent;
  color: #41d4b7;
  font-weight: 500;
  letter-spacing: 0.6px;
  transition: all 150ms;
}
.portfolio .portfolio-body .button-container button:hover {
  background-color: rgba(255, 255, 255, 0.068);
}
.portfolio .portfolio-body .button-container .divider {
  width: 2.5px;
  border-radius: 2px;
  height: 2rem;
  background-color: #f5f2f5;
  margin: 0 0.8rem;
}

@media screen and (max-width: 768px) {
  .portfolio .title::after {
    width: 14.5rem !important;
    transform: translate(-0.2rem, 700%) !important;
  }
  .portfolio .portfolio-body {
    width: 85%;
  }
  .portfolio .project-desc {
    font-size: 16px !important;
    line-height: 2;
  }
}
@media screen and (max-width: 668px) {
  .carousel-button {
    position: absolute;
    background-color: rgb(221, 216, 216) !important;
  }
  .carousel-button:hover {
    background-color: rgb(255, 255, 255);
    transform: scale(1.1);
  }
  .carousel-button svg {
    color: black;
  }
  .left-btn {
    left: 0.5rem;
    z-index: 5;
  }
  .right-btn {
    right: 0.5rem;
    z-index: 5;
  }
}
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 4rem 0 1rem;
}
.carousel .slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  background-color: #21114b;
  width: 34rem;
  min-width: 22rem;
  height: 24rem;
  border-radius: 0.5rem;
  padding: 1rem;
}
.carousel .slide-container::after {
  content: "";
  min-width: 120%;
  height: 100%;
  background-color: #21114b;
  z-index: 2;
}
.carousel .slide-container .slide {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  min-width: 20rem;
  padding: 0 1rem;
  cursor: pointer;
  filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.603));
  transition: all 200ms, transform 450ms;
}
.carousel .slide-container .slide img {
  border-radius: 6px;
  width: 100%;
  min-width: 20rem;
}
.carousel .slide-container .slide:hover {
  filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.603)) brightness(1.1);
}

@media screen and (max-width: 668px) {
  .slide-container {
    display: flex;
    height: 17rem !important;
    width: 19rem !important;
  }
}
.contact {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: #21114b;
  border-radius: 40px;
}
.contact .title {
  margin-bottom: 4rem;
}
.contact .title button {
  margin: 0 2.5rem !important;
  width: 3.1rem;
  height: 3.1rem;
  font-size: 2.1rem;
  color: #21114b;
  background-color: #41d4b7;
  border-radius: 50%;
}
.contact .title button:hover {
  filter: none !important;
  background-color: #5dffd9;
}
.contact header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  flex-wrap: wrap;
}
.contact header .left-side {
  flex: 0 1 23.5rem;
  border-right: 2px solid #f5f2f5;
  padding: 1rem 2rem;
}
.contact header .left-side .picture-and-social-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.contact header .left-side .picture-and-social-container img {
  width: 75%;
  max-width: 14rem;
  border-radius: 50%;
}
.contact header .left-side .picture-and-social-container .contact-button-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.contact header .left-side .picture-and-social-container .contact-button-container .social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #5f37ce;
  font-size: 2rem;
  cursor: pointer;
  color: #21114b;
  width: 46px;
  height: 46px;
  outline: none;
  border: none;
  border-radius: 50%;
  margin: 1rem 0.3rem;
  transition: all 200ms;
}
.contact header .left-side .picture-and-social-container .contact-button-container .social-button:hover {
  transform: scale(1.15);
  background-color: #6bbeda;
}
.contact header .left-side .picture-and-social-container .contact-button-container .github-button {
  background-color: transparent;
  color: #5f37ce;
  width: 46px;
  font-size: 2.85rem;
}
.contact header .left-side .picture-and-social-container .contact-button-container .github-button:hover {
  transform: scale(1.1);
  background-color: transparent;
  color: #6bbeda;
}
.contact header .left-side h2 {
  width: 19.4rem;
  padding: 0.5rem 1.2rem;
  margin: 1.5rem 0;
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 3px;
  border: 2px solid #10c3cf;
  border-radius: 6px;
}
.contact header .left-side h5 {
  position: absolute;
  font-size: 1.3rem;
  font-family: "Alumni Sans Pinstripe";
  font-weight: 100;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  transform: translate(12.5rem, -2.2rem);
  background-color: #21114b;
  padding: 0 0.2rem;
}
.contact header .right-side {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1 1 25rem;
  max-width: 25rem;
  width: 25rem;
  padding: 0 2rem;
}
.contact .form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 1;
  width: 60%;
  margin: 2rem auto;
  min-height: 20rem;
  height: 20rem;
  transition: transform 800ms, opacity 400ms 200ms, min-height 400ms, height 400ms;
}
.contact .form-container.hidden {
  opacity: 0 !important;
  height: 0 !important;
  min-height: 0 !important;
  transform: translateY(-2rem);
  transition: transform 400ms, opacity 400ms, min-height 400ms, height 400ms;
}
.contact .form-container div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.contact .form-container div .field {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 50%;
}
.contact .form-container div .field .label {
  width: 100%;
  margin-left: 0.5rem;
}
.contact .form-container div .field input {
  width: 100%;
  margin: 0.5rem;
  height: 1.5rem;
  font-family: "Roboto";
  text-indent: 0.2rem;
  border-radius: 3px;
  border: none;
}
.contact .form-container div .field input:focus {
  outline: 2px solid #5f37ce;
}
.contact .form-container .name-email {
  margin-top: 0.5rem;
}
.contact .form-container .body-field {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 0.5rem;
}
.contact .form-container .body-field .label {
  width: 100%;
  margin-left: 0.5rem;
}
.contact .form-container .body-field textarea {
  margin: 0.5rem;
  width: 100%;
  height: 10rem;
  font-family: "Roboto";
  padding: 0.2rem 0.3rem;
  border-radius: 3px;
  border: none;
}
.contact .form-container .body-field textarea:focus {
  outline: 2px solid #5f37ce;
}
.contact .form-container .submit-btn {
  cursor: pointer;
  background-color: #5f37ce;
  padding: 0.8rem 1rem;
  margin: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  border: none;
  border-radius: 6px;
  color: rgb(18, 9, 24);
  transition: all 200ms;
}
.contact .form-container .submit-btn:hover {
  background-color: #6bbeda;
  color: #33177a;
}
.contact .submit-confirm-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  opacity: 1;
  width: 60%;
  margin: 1rem auto;
  min-height: 4rem;
  font-size: 3rem;
  transition: opacity 350ms 500ms, min-height 400ms;
}
.contact .submit-confirm-container.hidden {
  opacity: 0 !important;
  height: 0 !important;
  min-height: 0 !important;
  transition: opacity 400ms, min-height 400ms;
}
.contact .submit-confirm-container h3 {
  font-weight: 700;
}
.contact .submit-confirm-container .checkmark {
  margin-right: 0.5rem;
  color: #10c3cf;
}

@media screen and (max-width: 768px) {
  .contact {
    border-radius: 0;
  }
  .contact .title::after {
    width: 14.5rem !important;
    transform: translate(-0.2rem, 700%) !important;
  }
  .contact .left-side {
    border-right: none !important;
  }
  .contact .right-side {
    max-width: none !important;
  }
  .contact .right-side p {
    font-size: 16px;
    line-height: 2;
  }
  .contact .right-side h4 {
    text-align: center;
    font-size: 2rem;
    margin-top: 4rem !important;
  }
  .contact header h2 {
    font-size: 7rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

html {
  height: 100%;
}

ol,
ul {
  list-style: none;
}

h1 {
  font-weight: bold;
  font-size: 3.5rem;
}

h2,
h3,
h4 {
  font-weight: normal;
}

h1 {
  font-family: "Qualy";
}

h2,
h3 {
  font-family: "Alumni Sans Pinstripe";
}

h2 {
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 2px;
}

h4,
h5,
h6 {
  font-family: "Roboto";
  font-weight: 700;
}

p {
  font-size: 1rem;
}

body {
  font-family: "Roboto";
  font-weight: 300;
  overflow-x: hidden;
  background: #33177a;
  color: #f5f2f5;
  overflow-y: scroll;
  max-width: 100vw !important;
  width: 100vw;
}

main {
  padding: 0.5rem calc((100vw - 1350px) / 2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 85vh;
}

footer {
  width: 100vw;
  height: 50px;
}

.page {
  padding: 2.5rem 0;
}
.page .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 4rem;
}
.page .title button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin: 0 1rem;
  transition: all 150ms;
}
.page .title button:hover {
  transform: scale(1.1);
  filter: brightness(1.5);
}
.page .title::after {
  content: "";
  position: absolute;
  width: 28rem;
  height: 0.3rem;
  transform: translate(-0.5rem, 1050%);
  border-radius: 3px;
  background-color: #f5f2f5;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.resume {
  margin-top: 5rem;
  width: 100vw;
  height: 100%;
}

.fade-enter {
  transform: translateX(100vw);
}
.fade-enter.fade-enter-active {
  transform: translateX(0vw);
  transition: all 500ms cubic-bezier(0.36, 0.83, 0.07, 0.99);
}

.fade-exit {
  transform: translateX(0vw);
  opacity: 0;
}
.fade-exit.fade-exit-active {
  position: absolute;
  transform: translateX(-100vw);
  transition: all 500ms cubic-bezier(0.36, 0.83, 0.07, 0.99);
}

@media screen and (max-width: 768px) {
  .title {
    padding-left: 2.5rem !important;
  }
  .title h2 {
    width: 100%;
    font-size: 3.5rem;
  }
  .title div {
    position: absolute;
    right: 0;
    transform: scale(1.2);
  }
  .title::after {
    width: 20rem !important;
  }
  .page {
    padding-top: 1.5rem;
  }
}/*# sourceMappingURL=style.css.map */