@font-face {
  font-family: "Qualy";
  src: local("Qualy"), url("./fonts/Qualy/Qualy.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Qualy";
  src: local("Qualy"), url("./fonts/Qualy/Qualy-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem calc((100vw - 1350px) / 2);
  width: 100vw;
  height: 80px;
}

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 35rem;
  min-height: 80vh;
}
.home section {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 100%;
  width: 100%;
}
.home section .home-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}
.home header {
  display: flex;
  flex-direction: column;
  font-size: 200%;
  padding-top: 13%;
  filter: drop-shadow(0px 0px 100px rgba(255, 255, 255, 0.178));
}
.home header code {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  width: 12rem;
  font-size: 1.3rem;
  background: #5dffd9;
  color: #5f37ce;
  letter-spacing: -1px;
  margin-bottom: 1rem;
}
.home header h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 8rem;
  color: #f5f2f5;
  text-indent: 0.5rem;
  opacity: 0.95;
  filter: drop-shadow(-8px 6px 0px #41d4b7);
}
.home header h4 {
  font-size: 2.2rem;
  font-weight: 200;
  text-indent: 3rem;
  margin-top: 0.7rem;
}
.home header h4 strong {
  color: #5dffd9;
  font-weight: 500;
}
.home .home-button {
  width: 8rem;
  height: 3.5rem;
  margin: 2rem;
  background: transparent;
  color: #5dffd9;
  border: 3px solid #5dffd9;
  border-radius: 8px;
  letter-spacing: 0.1rem;
  font-family: "Roboto";
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 200ms, color 200ms;
}
.home .bracket-square {
  font-size: 5rem;
  margin-left: 1rem;
}
.home #projects-button:hover {
  background: #5dffd9;
  color: #412291;
}
.home #contact-button {
  border: none;
  background: rgba(255, 255, 255, 0.103);
}
.home #contact-button:hover {
  background: rgba(255, 255, 255, 0.151);
}

.about {
  background: #21114b;
  border-radius: 40px;
  padding: 1.5rem 2.5rem;
}
.about .title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.about .title button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 3.5rem;
  color: #41d4b7;
  text-decoration: none;
  margin: 0 1rem;
  border-radius: 8px;
  transition: all 150ms;
}
.about .title button:hover {
  transform: scale(1.1);
  filter: brightness(1.5);
}
.about header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 2.5rem auto;
  min-width: 25rem;
  width: 95%;
  flex-wrap: wrap;
}
.about header .img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 20rem;
  max-width: 28rem;
  margin: 2rem;
  border-radius: 10px;
}
.about header .img-wrapper .portrait {
  margin: auto;
  width: 100%;
  border-radius: 10px;
  border: 8px solid #21114b;
  filter: drop-shadow(1.2rem 1.6rem 0px #5f37ce);
}
.about header .about-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  padding: 0.5rem;
  flex: 1 1 20rem;
}
.about header .about-text h1 {
  font-size: 2rem;
  margin: 2rem;
}
.about header .about-text p {
  margin: 0.5rem;
  text-indent: 3rem;
  font-size: 1.8rem !important;
  font-weight: 200;
}
.about header .about-text p strong {
  font-weight: 500;
}
.about header .about-text button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  width: 5rem;
  height: 2.5rem;
  color: rgba(255, 255, 255, 0.171);
  font-size: 6rem;
  margin: 1rem;
  cursor: pointer;
  transition: all 200ms;
}
.about header .about-text button:hover {
  color: rgba(255, 255, 255, 0.26);
  font-size: 6.5rem;
}

@-webkit-keyframes float {
  0% {
    top: 0px;
  }
  50% {
    top: 5px;
  }
  100% {
    top: 0px;
  }
}
@keyframes float {
  0% {
    top: 0px;
  }
  50% {
    top: 5px;
  }
  100% {
    top: 0px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

html {
  height: 100%;
}

ol,
ul {
  list-style: none;
}

h1 {
  font-weight: bold;
  font-size: 3.5rem;
}

h2,
h3,
h4 {
  font-weight: normal;
}

h1 {
  font-family: "Qualy";
}

h2,
h3 {
  font-family: "Alumni Sans Pinstripe";
}

h2 {
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 2px;
}

h4,
h5,
h6 {
  font-family: "Roboto";
  font-weight: 700;
}

p {
  font-size: 1rem;
}

body {
  font-family: "Roboto";
  font-weight: 300;
  overflow-x: hidden;
  background: #412291;
  color: #f5f2f5;
  padding: 0 1rem;
}

main {
  padding: 0.5rem calc((100vw - 1350px) / 2);
}

footer {
  width: 100vw;
  height: 50px;
}/*# sourceMappingURL=style.css.map */