@font-face {
  font-family: "Qualy";
  src: local("Qualy"), url("./fonts/Qualy/Qualy.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Qualy";
  src: local("Qualy"), url("./fonts/Qualy/Qualy-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem calc((100vw - 1350px) / 2);
  width: 100vw;
  height: 80px;
}

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 19rem;
  min-height: 85vh;
}
.home section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.home-button {
  width: 8rem;
  height: 3.5rem;
  margin: 2rem;
  background: transparent;
  color: #5dffd9;
  border: 3px solid #5dffd9;
  border-radius: 8px;
  letter-spacing: 0.1rem;
  font-family: "Roboto";
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 200ms, color 200ms;
}

header {
  display: flex;
  flex-direction: column;
  font-size: 200%;
  padding-top: 13%;
  filter: drop-shadow(0px 0px 100px rgba(255, 255, 255, 0.178));
}
header code {
  font-size: 1.3rem;
  color: #5dffd9;
  letter-spacing: -1px;
}
header h1 {
  display: flex;
  align-items: center;
  font-size: 8rem;
  color: #f5f2f5;
  text-indent: 0.5rem;
  opacity: 0.95;
  filter: drop-shadow(-8px 6px 0px #41d4b7);
}
header h4 {
  font-size: 2.2rem;
  font-weight: 200;
  text-indent: 3rem;
  margin-top: 2rem;
}
header h4 strong {
  color: #5dffd9;
  font-weight: 500;
}

.bracket-square {
  font-size: 5rem;
  margin-left: 1rem;
}

#projects-button:hover {
  background: #5dffd9;
  color: #412291;
}

#contact-button {
  border: none;
  background: rgba(255, 255, 255, 0.103);
}
#contact-button:hover {
  background: rgba(255, 255, 255, 0.151);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

html {
  height: 100%;
}

ol,
ul {
  list-style: none;
}

h1 {
  font-weight: bold;
  font-size: 3.5rem;
}

h2,
h3,
h4 {
  font-weight: normal;
}

h1,
h2,
h3 {
  font-family: "Qualy";
}

h4,
h5,
h6 {
  font-family: "Roboto";
  font-weight: 700;
}

p {
  font-size: 1rem;
}

body {
  font-family: "Roboto";
  font-weight: 300;
  overflow-x: hidden;
  background: #412291;
  color: #f5f2f5;
}

main {
  padding: 0.5rem calc((100vw - 1350px) / 2);
}

footer {
  width: 100vw;
  height: 50px;
}/*# sourceMappingURL=style.css.map */